.nav_bar {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    box-shadow: 8px 8px 14px rgb(98 127 172 / 20%);
}